<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
</head>
<body>

<ul>
    {% for i in menu %}
    <li><a href="{{i.url}}">{{i.name}}</a> </li>
    {% endfor %}
</ul>

<h1>{{title}}</h1>

<form action="/check" method="POST">
    <input type="text" name="log"><br>
    <input type="password" name="pass"><br>
    <button>авто</button>
</form>

{% for msg in get_flashed_messages() %}
<p>{{msg}}</p>
{% endfor %}

</body>
</html>
